* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "results recipe";
  grid-template-columns: 1fr 2fr;
}

/* HEADER SECTION */

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 30px;
}

.header__logo {
  text-transform: uppercase;
  font-family: "Righteous", cursive;
}

.header__logo span {
  background-color: yellow;
  font-family: "Righteous", cursive;
}

.search {
  width: 50vw;
}

.input {
  width: 100%;
}

.nav__list {
  display: flex;
}

/* RESULTS LIST SECTION */
.search-results {
  grid-area: results;
}

.preview__link {
  display: flex;
}

/* RECIPE SECTION */
.recipe {
  grid-area: recipe;
}
